In [1]:
!pip install pandas numpy matplotlib seaborn plotly

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy in ./.venv/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (3.10.5)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting plotly
  Downloading plotly-6.2.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-2.0.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading plotly-6.2.0-py3-none-any.whl (9.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 49.8 MB/s eta 0:00:00a 0:00:01
Downloading narwhals-2.0.1-py3-none-any.whl (385 kB)
Installing collected packages: narwhals, plotly, seaborn
Successfully installed narwhals-2.0.1 plotly-6.2.0 seaborn-0.13.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
#Load the dataset
df = pd.read_csv("./data/Bitcoin_history_data.csv", parse_dates=['Date'])
# Display the first few rows of the dataset
df.head()

        Date       Close        High         Low        Open    Volume
0 2014-09-17  457.334015  468.174011  452.421997  465.864014  21056800
1 2014-09-18  424.440002  456.859985  413.104004  456.859985  34483200
2 2014-09-19  394.795990  427.834991  384.532013  424.102997  37919700
3 2014-09-20  408.903992  423.295990  389.882996  394.673004  36863600
4 2014-09-21  398.821014  412.425995  393.181000  408.084991  26580100

In [5]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3966 entries, 0 to 3965
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3966 non-null   datetime64[ns]
 1   Close   3966 non-null   float64
 2   High    3966 non-null   float64
 3   Low     3966 non-null   float64
 4   Open    3966 non-null   float64
 5   Volume  3966 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 186.0 KB

Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [6]:
df.describe()

,Date,Close,High,Low,Open,Volume
count,3966,3966.000000,3966.000000,3966.000000,3966.000000,3.966000e+03
mean,2020-02-20 12:00:00,23700.720916,24175.471292,23148.369852,23672.235699,2.005692e+10
min,2014-09-17 00:00:00,178.102997,211.731003,171.509995,176.897003,5.914570e+06
25%,2017-06-04 06:00:00,2319.264893,2416.029968,2224.777466,2321.009949,9.596135e+08
50%,2020-02-20 12:00:00,10134.783203,10313.309082,9752.528809,10130.225586,1.612212e+10
75%,2022-11-07 18:00:00,37845.019531,39048.439453,36837.160156,37818.786133,3.140978e+10
max,2025-07-26 00:00:00,119995.414062,123091.609375,118959.195312,119997.445312,3.509679e+11
std,NaN,27883.043425,28377.641054,27301.538662,27846.447559,2.142796e+10

In [7]:
df.sort_values('Date', inplace=True)

In [8]:
df.duplicated().sum()

np.int64(0)